{% extends "base.html" %} 

    {% block title %}
        {{title}}
    {% endblock %} 

    {% block header_title %}
        {{title}}
    {% endblock %} 

    {% block content %}

            <script src="{{url_for('static', filename='script.js')}}"></script>
            <div id="map-container">
                <div id="locations-panel">
                    <div id="locations-panel-list">
                        <header>
                            <h1 class="search-title">
                                <img src="https://fonts.gstatic.com/s/i/googlematerialicons/place/v15/24px.svg" alt=""/>
                                Find a location near you
                            </h1>
                            <div class="search-input">
                                <input id="location-search-input" placeholder="Enter your address or zip code">
                                <div id="search-overlay-search" class="search-input-overlay search">
                                    <button id="location-search-button">
                                        <img class="icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/search/v11/24px.svg" alt="Search"/>
                                    </button>
                                </div>
                            </div>
                        </header>
                        <div class="section-name" id="location-results-section-name">
                            All locations
                        </div>
                        <div class="results">
                            <ul id="location-results-list"> </ul>
                        </div>
                    </div>
                </div>
                <div id="gmp-map">

                </div>
            </div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbfyIpvNetPbX4UGtv6ddVjprg4cMA9vo&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_locatorplus_v7_cABD" async defer></script>

    {% endblock %}