{% extends "base.html" %} 

{% block header_title %}
        
    {{title}}
    
{% endblock %}


{% block title %}

    {{title}}

{% endblock %} 
{% block content %}

    {% if cal|length > 0 %}
        {% for a, s, e  in cal %}
            
            <div id="room_el">
                <div id="room_name">
                    {{a}} - {{e}}
                </div>
                <div id="room_info">
                    {{s}}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p> non ci sono aule libere disponibili</p>
    {% endif %}


{% endblock %}