.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}
  
.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 7.5vh;
    background: #0070FF;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    color: white;
}

.material-symbols-outlined {
    font-size: 4.5vh;
    /* padding-top: 1vw; */
}

.material-symbols-outlined:visited {
    text-decoration: none;
}

#footer_button {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#footer_button_link {
    text-decoration: none;
    color: white;
    font-size: 1.5vh;
    align-self: center;
    display: block;
}
#footer_button_link:visited { 
    text-decoration: none;
}

#footer_label_link {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}

#map {
    height: 65vh
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

#room_name {
    font-size:large;
}

#room_info {
    font-size: medium;
}

#room_el {
    border-bottom-style: solid;
    border-width: 1px;
    padding: 1vh;
    min-height: 7.72vh;
    position: relative;
}
#room_el:hover {
    background-color: rgb(184, 184, 184);
}

.container {
    position: fixed;
    overflow-y:scroll;
	overflow-x:hidden;
    height: 85vh;
    top:7.5vh;
    bottom:7.5vh;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    /* padding-top: 7.5vh;
    margin-bottom: 7.5vh; */
    margin-left: 0;
    margin-right: 0;
}

#login_form, #register_form {
    margin-left: 3vh;
    margin-right: 3vh;
}

#page_title {
    display: flex;
    color: rgb(255, 255, 255);
    font-weight:500;
    font-size: 2.5vh;
    margin-left: 2vh;
    align-items:center;
    justify-content:center;
}

#hamburger_menu {
    /* float: left; */
    background-color: #0070FF;
    color: white;
    width: 6vh;
    font-size:200%;
    border: none;
}
#hamburger_menu:active {  
    outline: none;
    box-shadow: none;
    background-color: #328bff;
}

#header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0070FF; 
    height: 7.5vh;
}

#layer {
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    visibility: hidden;
    -webkit-backdrop-filter: blur(1.8px);
    backdrop-filter: blur(1.8px);
    transition: 0.6s;
    position: absolute;
}

#logo {
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 3vh;
    /* padding: 1vh; */
    border-bottom: #111;
    border-bottom-style:solid;
    border-width: 1px;
    height: 7.5vh;
}

#mySidebar {
    width: 60vw;
    left: -60vw;
    /* display: none; */
    transition: 0.6s;
    position: absolute;
    overflow: hidden;
}

.alert {
    position: fixed;
}

#profile_content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}


#profile_username, #profile_email {
    font-size: 2em;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5vw;
}

#profile_email {
    font-size: 1.3em;
    font-weight: 400;
    font-style: italic;
}


#profile_image {
    font-size: 50vw;
    top: 7.5vh;
    padding-top: 10vw;
}